:root {
    --darkviolet: rgba(148, 0, 211, 1);
    --mother-pink: rgba(232, 0, 118, 1);
    --father-blue: rgba(36, 0, 129, 1);
    --closest_organism_gold: rgba(255, 215, 0, 1);
    --custom-green: rgba(155, 245, 0, 1);
}

body {
    background: black;
}

#main-canvas {
    background-color: black;
    border: 4px solid var(--darkviolet);
}

.canvas-container, .btn-container, .settings-container {
    margin: 0 auto;
    width: 1000px;
}

.settings-container {
    display: none;
    margin-bottom: .25rem;
    width: 1000px;
    height: 600px;
    border: 4px solid var(--darkviolet);
    background-color: red;
}

.settings-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    border: 4px solid black;
}

/* may not need */
.settings-grid > label {
    display: block;
}

/* not doing dialogue yet */
.organisms-setting-label,
.movement-setting-label,
.gene-setting-label,
.mutation-setting-label {
    grid-column: 1 / 2;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.start-btn, .stop-btn, .settings-btn {
    /* display: block; */
    padding: .5rem 1rem;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.start-btn {
    /* display: inline-block; */
    grid-column: 2 / 3;
    margin: 0 auto;
    background-color: var(--custom-green);
}

.start-btn:hover {
    background-color: var(--darkviolet);
    color: var(--custom-green);
    transition: .5s;
}

.stop-btn {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-right: auto;
    background-color: var(--darkviolet);
}

.stop-btn:hover {
    background-color: var(--mother-pink);
    transition: .5s;
}

.settings-btn {
    grid-column: 3 / 4;
    margin-left: auto;
    background-color: rgba(148, 0, 211, 1);
    color: rgba(155, 245, 0, 1);
}

.settings-btn:hover {
    color: rgba(255, 215, 0, 1);
}