:root {
    --darkviolet: rgba(148, 0, 211, 1);
    --mother-pink: rgba(232, 0, 118, 1);
    --father-blue: rgba(36, 0, 129, 1);
    --closest_organism_gold: rgba(255, 215, 0, 1);
    --custom-green: rgba(155, 245, 0, 1);
}

body {
    background: black;
}

#main-canvas {
    background-color: black;
    border: 4px solid var(--darkviolet);
}

.canvas-container {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

.start-btn, .stop-btn {
    display: block;
    padding: .5rem 1rem;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.start-btn {
    margin: 0 auto;
    background-color: var(--custom-green);
}

.start-btn:hover {
    background-color: var(--darkviolet);
    color: var(--custom-green);
    transition: .5s;
}

.stop-btn {
    display: none;
    background-color: var(--darkviolet);
}

.stop-btn:hover {
    background-color: var(--mother-pink);
    transition: .5s;
}